<script lang="ts" setup>
const { t } = useI18n({ useScope: 'global' })

const patterns = [
  {
    value: '{{nanoid}}',
    description: t('MODAL.PATTERN.RANDOM_VALUE'),
  },
  {
    value: '{{index}}',
    description: t('MODAL.PATTERN.INDEX'),
  },
]
</script>

<template>
  <div v-for="(pattern, index) in patterns" :key="index" class="pattern">
    <div class="value">{{ pattern.value }}</div>
    <div>{{ pattern.description }}</div>
  </div>
</template>

<style lang="scss" scoped>
.pattern {
  display: flex;
  gap: 1rem;

  .value {
    font-weight: bold;
  }
}
</style>
