<script lang="ts" setup>
import JsBarcode from 'jsbarcode'

const id = useId.generateFromAlphabet()

const props = defineProps<{
  value: string
  options?: JsBarcode.Options
}>()

onMounted(() => {
  JsBarcode(`#${id}`, props.value, {
    ...props.options,
    background: '#f5f5f5',
  })
})
</script>

<template>
  <svg :id="id"></svg>
</template>
