<script lang="ts" setup>
import QRCode from 'qrcode'

const id = useId.generateFromAlphabet()

const props = defineProps<{
  value: string
  options?: QRCode.QRCodeRenderersOptions
}>()

onMounted(() => {
  QRCode.toCanvas(document.getElementById(id), props.value, {
    ...props.options,
    color: {
      light: '#f5f5f5',
    },
  })
})
</script>

<template>
  <div class="qrcode">
    <canvas :id="id"></canvas>
    <div>{{ value }}</div>
  </div>
</template>

<style lang="scss" scoped>
.qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
