<script lang="ts" setup>
import AlBarcode from '@Components/Barcode.vue'
import AlQrcode from '@Components/Qrcode.vue'
import AlModalPattern from '@Components/modal/Pattern.vue'

const { t } = useI18n({ useScope: 'global' })

const barcodes: Ref<string[]> = ref([])
const settings = reactive({
  size: 1,
  autoRefresh: false,
  interval: 3,
  pattern: '{{nanoid}}',
})
const options = reactive({
  format: 'CODE128',
  height: 100,
  width: 2,
})
const interval: Ref<NodeJS.Timeout | null> = ref(null)
const patternModal = ref(false)

const formats = ['CODE128', 'QRCODE']

onMounted(() => {
  generate()
})

watch(
  () => settings.autoRefresh,
  (value) => {
    if (value) {
      interval.value = setInterval(generate, settings.interval * 1000)
    } else {
      clearInterval(interval.value as NodeJS.Timeout)
    }
  }
)

watch(
  () => options.format,
  (value) => {
    if (value === 'QRCODE') options.width = 132
    if (value === 'CODE128') options.width = 2
  }
)

const generate = () => {
  barcodes.value.splice(0)

  for (let index = 0; index < settings.size; index++) {
    barcodes.value.push(useId.generateFromPattern(settings.pattern.trim(), index))
  }
}

const barcodeComponent = computed(() => {
  switch (options.format) {
    case 'CODE128':
      return AlBarcode
    case 'QRCODE':
      return AlQrcode
    default:
      return AlBarcode
  }
})

const height = computed(() => {
  if (options.format === 'CODE128') return options.height

  return options.width
})

const hasRandomPattern = computed(() => {
  if (!settings.pattern) return true

  return /{{nanoid}}/.test(settings.pattern)
})
</script>

<template>
  <div class="container">
    <v-col sm="4" md="2" class="settings elevation-5 bg-secondary">
      <div>
        <v-btn block color="primary" @click="generate">{{ t('SETTINGS.GENERATE_BARCODE') }}</v-btn>
      </div>
      <div>
        <v-text-field
          v-model="settings.size"
          :min="1"
          :label="t('SETTINGS.BARCODE_NUMBER')"
          type="number"
        ></v-text-field>
        <v-text-field
          v-model="settings.pattern"
          :label="t('SETTINGS.PATTERN')"
          placeholder="{{nanoid}}"
          append-icon="mdi-information"
          @click:append="patternModal = true"
        ></v-text-field>
      </div>
      <v-divider></v-divider>
      <div>
        <div>
          <v-switch
            v-model="settings.autoRefresh"
            :disabled="!hasRandomPattern"
            :label="t('SETTINGS.AUTO_REFRESH')"
            color="primary"
          >
          </v-switch>
        </div>
        <div>
          <v-text-field
            v-model="settings.interval"
            :disabled="settings.autoRefresh || !hasRandomPattern"
            :min="1"
            :label="t('SETTINGS.INTERVAL')"
            type="number"
          ></v-text-field>
        </div>
      </div>
      <v-divider></v-divider>
      <div>
        <div>
          <v-autocomplete
            v-model="options.format"
            :disabled="settings.autoRefresh"
            :items="formats"
            :label="t('SETTINGS.FORMAT')"
          ></v-autocomplete>
        </div>
        <div class="size">
          <v-text-field
            v-model="height"
            :disabled="options.format === 'QRCODE'"
            :min="1"
            :label="t('SETTINGS.HAUTEUR')"
            type="number"
          ></v-text-field>
          <v-text-field
            v-model="options.width"
            :min="1"
            :label="t('SETTINGS.LARGEUR')"
            type="number"
          ></v-text-field>
        </div>
      </div>
    </v-col>

    <v-col class="barcodes bg-primary-lighten-4">
      <component
        :is="barcodeComponent"
        v-for="barcode in barcodes"
        :key="barcode"
        :value="barcode"
        :options="options"
      ></component>
    </v-col>
  </div>

  <v-dialog v-model="patternModal" width="auto">
    <v-card>
      <v-card-text>
        <al-modal-pattern></al-modal-pattern>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" block @click="patternModal = false">{{ t('CLOSE') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style lang="scss" scoped>
.container {
  height: 100vh;
  display: flex;
  .barcodes {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .size {
      display: flex;
      gap: 0.3rem;
    }
  }
}
</style>

<style lang="scss">
html {
  overflow: hidden !important;
}
</style>
